;; User-level configuration for the `clojure` and `clj` tools.
{;; Maven repositories
 :mvn/repos
 {"central" {:url "https://repo1.maven.org/maven2/"}
  "clojars" {:url "https://repo.clojars.org/"}}

 ;; Default Paths
 :paths ["src"]

 ;; Standard dependencies
 :deps
 {org.clojure/clojure {:mvn/version "1.11.1"}}

 ;; Aliases
 :aliases
 {;; TODO: draw examples from:
  ;; https://github.com/seancorfield/dot-clojure/blob/develop/deps.edn
  ;; https://github.com/practicalli/clojure-deps-edn/blob/live/deps.edn

  :project/check
  {:extra-deps {athos/clj-check {:git/url "https://github.com/athos/clj-check.git"
                                 :sha "0ca84df1357d71429243b99908303f45a934654c"}}
   :main-opts ["-m" "clj-check.check"]}

  :project/outdated
  {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
   :main-opts ["-m" "antq.core"]}

  :project/hiera
  {:extra-deps {com.mvxcvi/clj-hiera {:local/root "/home/user/dev/clojure/clj-hiera/clj-hiera"}}
   :main-opts ["-m" "hiera.main"]}

  ,,,}}
